In [1]:
from arcgis.geoenrichment._business_analyst import Country
import pandas as pd

from index_creation import config

In [2]:
usa = Country('US')

usa

In [3]:
df_ev = usa.enrich_variables[['name', 'alias']].set_index('name').rename(columns={'alias': 'variable_alias'})

df_ev.head()

                                               variable_alias
name
THHBASE                          2022 Tapestry Household Base
TADULTBASE                       2022 Tapestry Adult Pop Base
MP03017h_B       2022 HH Owns Any Baby Furniture or Equipment
MP03017h_I  2022 Index: HH Owns Any Baby Furniture or Equi...
MP03018h_B    2022 HH Bought Baby Furniture or Equipment/6 Mo

In [4]:
df_mv = pd.DataFrame([(k, v) for (k, lst) in config.meta_variables.items() for v in lst], columns=['index_name', 'variable_name'])

df_mv

           index_name variable_name
0              income      HINC0_CY
1              income     HINC15_CY
2              income     HINC25_CY
3              income     HINC35_CY
4              income     HINC50_CY
..                ...           ...
84  housing_diversity      ACSUNT20
85  housing_diversity    ACSUNT50UP
86  housing_diversity     ACSUNTMOB
87  housing_diversity     ACSUNTOTH
88  housing_diversity      ACSTOTHU

[89 rows x 2 columns]

In [5]:
df_mv = df_mv.join(df_ev, on='variable_name', how='left').drop_duplicates().set_index('index_name', drop=True)

df_mv

,variable_name,variable_alias
index_name,,
income,HINC0_CY,2022 HH Income <$15000
income,HINC15_CY,2022 HH Income $15000-24999
income,HINC25_CY,2022 HH Income $25000-34999
income,HINC35_CY,2022 HH Income $35000-49999
income,HINC50_CY,2022 HH Income $50000-74999
...,...,...
housing_diversity,ACSUNT20,2020 Housing: 20 to 49 Units in Structure (ACS...
housing_diversity,ACSUNT50UP,2020 Housing: 50+ Units in Structure (ACS 5-Yr)
housing_diversity,ACSUNTMOB,2020 Housing: Mobile Homes (ACS 5-Yr)
housing_diversity,ACSUNTOTH,2020 Housing: Boat/RV/Van/etc. (ACS 5-Yr)
housing_diversity,ACSTOTHU,2020 Total Housing Units (ACS 5-Yr)

In [8]:
from typing import Optional

from numpy import vectorize

measurer = vectorize(len)

def df_to_rst(df, table_name: Optional[str] = 'Table Name' ) -> str:
    
    header = f'.. list-table:: {table_name}\n'
    col_len_lst = [measurer(df.index.astype(str)).max()] + list(measurer(df.values.astype(str)).max(axis=0))
    col_len_lst = map(str, col_len_lst)
    header = header + '    :widths: ' + ' '.join(col_len_lst) + '\n    :header-rows: 1\n\n'
    
    col_nm_lst = [f'    * - {df.index.name if df.index.name else ""}'] + [f'      - {c}' for c in df.columns]
    col_str = '\n'.join(col_nm_lst)

    col_str_lst = [col_str]
    
    for idx, col in enumerate(df.iterrows()):
        col_lst = [f'    * - {df.index[idx]}'] + [f'      - {v}' for v in col[1]]
        col_str = '\n'.join(col_lst)
        col_str_lst.append(col_str)
    df_str = '\n'.join(col_str_lst)
    
    df_str = header + df_str
    
    return df_str

In [12]:
for idx in df_mv.index.unique():
    df_idx = df_mv.loc[idx].set_index('variable_name', drop=True)
    print(df_to_rst(df_idx, idx))
    print('\n')

.. list-table:: income
    :widths: 10 29
    :header-rows: 1

    * - variable_name
      - variable_alias
    * - HINC0_CY
      - 2022 HH Income <$15000
    * - HINC15_CY
      - 2022 HH Income $15000-24999
    * - HINC25_CY
      - 2022 HH Income $25000-34999
    * - HINC35_CY
      - 2022 HH Income $35000-49999
    * - HINC50_CY
      - 2022 HH Income $50000-74999
    * - HINC75_CY
      - 2022 HH Income $75000-99999
    * - HINC100_CY
      - 2022 HH Income $100000-149999
    * - HINC150_CY
      - 2022 HH Income $150000-199999
    * - HINC200_CY
      - 2022 HH Income $200000+


.. list-table:: home_value
    :widths: 10 34
    :header-rows: 1

    * - variable_name
      - variable_alias
    * - VAL0_CY
      - 2022 Home Value <$50000
    * - VAL50K_CY
      - 2022 Home Value $50K-99999
    * - VAL100K_CY
      - 2022 Home Value $100K-149999
    * - VAL150K_CY
      - 2022 Home Value $150K-199999
    * - VAL200K_CY
      - 2022 Home Value $200K-249999
    * - VAL250K_CY
      - 2022 Home Value $250K-299999
    * - VAL300K_CY
      - 2022 Home Value $300K-399999
    * - VAL400K_CY
      - 2022 Home Value $400K-499999
    * - VAL500K_CY
      - 2022 Home Value $500K-749999
    * - VAL750K_CY
      - 2022 Home Value $750K-999999
    * - VAL1M_CY
      - 2022 Home Value $1 Million-1499999
    * - VAL2M_CY
      - 2022 Home Value $2 Million+


.. list-table:: wealth
    :widths: 8 30
    :header-rows: 1

    * - variable_name
      - variable_alias
    * - NW0_CY
      - 2022 Net Worth <$15000
    * - NW15_CY
      - 2022 Net Worth $15000-$34999
    * - NW35_CY
      - 2022 Net Worth $35000-$49999
    * - NW50_CY
      - 2022 Net Worth $50000-$74999
    * - NW75_CY
      - 2022 Net Worth $75000-$99999
    * - NW100_CY
      - 2022 Net Worth $100000-$149999
    * - NW150_CY
      - 2022 Net Worth $150000-$249999
    * - NW250_CY
      - 2022 Net Worth $250000-$499999
    * - NW500_CY
      - 2022 Net Worth $500000-$999999


.. list-table:: age
    :widths: 8 25
    :header-rows: 1

    * - variable_name
      - variable_alias
    * - POP0_CY
      - 2022 Population Age 0-4
    * - POP5_CY
      - 2022 Population Age 5-9
    * - POP10_CY
      - 2022 Population Age 10-14
    * - POP15_CY
      - 2022 Population Age 15-19
    * - POP20_CY
      - 2022 Population Age 20-24
    * - POP25_CY
      - 2022 Population Age 25-29
    * - POP30_CY
      - 2022 Population Age 30-34
    * - POP35_CY
      - 2022 Population Age 35-39
    * - POP40_CY
      - 2022 Population Age 40-44
    * - POP45_CY
      - 2022 Population Age 45-49
    * - POP50_CY
      - 2022 Population Age 50-54
    * - POP55_CY
      - 2022 Population Age 55-59
    * - POP60_CY
      - 2022 Population Age 60-64
    * - POP65_CY
      - 2022 Population Age 65-69
    * - POP70_CY
      - 2022 Population Age 70-74
    * - POP75_CY
      - 2022 Population Age 75-79
    * - POP80_CY
      - 2022 Population Age 80-84
    * - POP85_CY
      - 2022 Population Age 85+


.. list-table:: home_age
    :widths: 10 47
    :header-rows: 1

    * - variable_name
      - variable_alias
    * - ACSBLT2014
      - 2020 HUs/Year Built: 2014/Later (ACS 5-Yr)
    * - ACSBLT2010
      - 2020 HUs/Year Built: 2010-2013 (ACS 5-Yr)
    * - ACSBLT2000
      - 2020 HUs/Year Built: 2000-2009 (ACS 5-Yr)
    * - ACSBLT1990
      - 2020 HUs/Year Built: 1990-1999 (ACS 5-Yr)
    * - ACSBLT1980
      - 2020 HUs/Year Built: 1980-1989 (ACS 5-Yr)
    * - ACSBLT1970
      - 2020 HUs/Year Built: 1970-1979 (ACS 5-Yr)
    * - ACSBLT1960
      - 2020 HUs/Year Built: 1960-1969 (ACS 5-Yr)
    * - ACSBLT1950
      - 2020 HUs/Year Built: 1950-1959 (ACS 5-Yr)
    * - ACSBLT1940
      - 2020 HUs/Year Built: 1940-1949 (ACS 5-Yr)
    * - ACSBLT1939
      - 2020 HUs/Year Built: 1939 or Earlier (ACS 5-Yr)


.. list-table:: employment_diversity
    :widths: 10 38
    :header-rows: 1

    * - variable_name
      - variable_alias
    * - INDAGRI_CY
      - 2022 Industry: Agriculture
    * - INDMIN_CY
      - 2022 Industry: Mining
    * - INDCONS_CY
      - 2022 Industry: Construction
    * - INDMANU_CY
      - 2022 Industry: Manufacturing
    * - INDWHTR_CY
      - 2022 Industry: Wholesale Trade
    * - INDRTTR_CY
      - 2022 Industry: Retail Trade
    * - INDTRAN_CY
      - 2022 Industry: Transportation
    * - INDUTIL_CY
      - 2022 Industry: Utilities
    * - INDINFO_CY
      - 2022 Industry: Information
    * - INDFIN_CY
      - 2022 Industry: Finance/Insurance
    * - INDRE_CY
      - 2022 Industry: Real Estate
    * - INDTECH_CY
      - 2022 Industry: Professional/Tech Svcs
    * - INDMGMT_CY
      - 2022 Industry: Management
    * - INDADMN_CY
      - 2022 Industry: Admin/Waste Mgmt
    * - INDEDUC_CY
      - 2022 Industry: Educational Services
    * - INDHLTH_CY
      - 2022 Industry: Health Care
    * - INDARTS_CY
      - 2022 Industry: Arts/Entertainment/Rec
    * - INDFOOD_CY
      - 2022 Industry: Accommodation/Food Svcs
    * - INDOTSV_CY
      - 2022 Industry: Other Services
    * - INDPUBL_CY
      - 2022 Industry: Public Administration


.. list-table:: housing_diversity
    :widths: 10 53
    :header-rows: 1

    * - variable_name
      - variable_alias
    * - ACSUNT1DET
      - 2020 Housing: 1 Detached Unit in Structure (ACS 5-Yr)
    * - ACSUNT1ATT
      - 2020 Housing: 1 Attached Unit in Structure (ACS 5-Yr)
    * - ACSUNT2
      - 2020 Housing: 2 Units in Structure (ACS 5-Yr)
    * - ACSUNT3
      - 2020 Housing: 3 or 4 Units in Structure (ACS 5-Yr)
    * - ACSUNT5
      - 2020 Housing: 5 to 9 Units in Structure (ACS 5-Yr)
    * - ACSUNT10
      - 2020 Housing: 10 to 19 Units in Structure (ACS 5-Yr)
    * - ACSUNT20
      - 2020 Housing: 20 to 49 Units in Structure (ACS 5-Yr)
    * - ACSUNT50UP
      - 2020 Housing: 50+ Units in Structure (ACS 5-Yr)
    * - ACSUNTMOB
      - 2020 Housing: Mobile Homes (ACS 5-Yr)
    * - ACSUNTOTH
      - 2020 Housing: Boat/RV/Van/etc. (ACS 5-Yr)
    * - ACSTOTHU
      - 2020 Total Housing Units (ACS 5-Yr)